{% extends './includes/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="w-1/2 mt-10 p-10 bg-slate-900 font-serif text-white text-4xl leading-10 opacity-90">
    <p class="mb-3">We are a small family run, residential property rental business.</p>
    <p class="mb-3">We specialise in taking unloved houses and turning them into beautiful homes.</p>
</div>
<style>
    #bg-el {
        background-image: url(static/images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}
